#Q1. What are data structures, and whywhy are they important?

are they important?  
Data structure are specialized formats for organizing,storing,and accesing collection of data.They provide efficient way to manage information based on its characteristics and intended use.


*   choosing the right data structure significantly impacts the efficiency and performance of your program.
*   Well chosen data structure can simply manipulate (add,remove,modify elements),optimize searching and sorting operation,conserve memory usage
---
#Q2. Explain the difference between mutable and immutable data types with examples?


The difference between the mutable and immutale is whether the data can be modified after the creation or not . If modified then it is called mutable data types and if cannot change then it is called immutable data types.

   

*   Mutable data types are list,set, and  dictionary
*   Immutable data types are tuple,int,string,float, and boolean.


---



#Q3. What are the main differences between lists and tuples in Python?

The main differnce between list and tuples are how they are declared
list are declared using [square bracket] and tuples are declared using (parentheses)

---
#Q4. Describe how dictionaries store data

Dictionary is a data structure that store data in a key-value pair where keys are unique and immutable.

---

#Q5. Why might you use a set instead of a list in Python?

I will use set insted of list because set don't allow for duplicate items like list. In set every element is unique , no element are repeated and using set we can also find the differnce , intersection between the sets.

---
#Q6. What is a string in Python, and how is it different from a list?
String is a data structure in python .It is a sequence of characters enclosed within ('single') or ("double") quote and are immutable in nature and can only store characters whereas list can store  and type of element enclosed in [square bracket] and are mutable in nature.

---
#7. How do tuples ensure data integrity in Python?
Tuple is a immutable datatype means once created then cannot be modified , due to this it prevents accidental modification of tuple and provide secure data storage that shouldn't be modified.

---
#Q8. What is a hash table, and how does it relate to dictionaries in Python?
Hash table is the data structure that store data in key-value pair.similarly dictionaries also use key-value pair .The key dictionary passes through a hash function , which generate hash code for the corresponding value and are use to retrieve value using the hash code.

---
#Q9. Can lists contain different data types in Python?
Yes , list can contain different data types like int,float,string,boolean value.

---
#Q10. Explain why strings are immutable in Python?
String are immutable in python to enhance memory usage ,performance, safety and ease of use.

---
#Q11.  What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer significant advantages over lists for tasks that require fast lookups,associative data storage,uniqueness of keys and semantic clarity.

---
#Q12. Describe a scenario where using a tuple would be preferable over a list?
We can use tuple to store values that should not be change over time like storing the co-ordinate of a location as every place has its unique co-ordinate  and cannot be change over time.

---
#Q13. How do sets handle duplicate values in Python?
Sets in python handle duplicate values by only allowing unique elements. when you try to add a duplicate , the set simply ignores it, ensuring that all elements remain distinct.

 ---

#Q14. How does the “in” keyword work differently for lists and dictionaries?

The in keyword in Python is used to check for membership, but it behaves differently when used with lists and dictionaries due to the underlying data structures and how they store their elements.
* For Lists: The in keyword checks for the presence of a value and performs a sequential search, resulting in O(n) time complexity.
* For Dictionaries: The in keyword checks for the presence of a key and performs a hash table lookup, resulting in O(1) average time complexity.

---
#Q15. Can you modify the elements of a tuple? Explain why or why not?
No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable data structures.

---
#Q16. What is a nested dictionary, and give an example of its use case?
A nested dictionary in Python is a dictionary that contains other dictionaries as its values. This allows for the representation of complex data structures where each key can map to another dictionary, enabling a hierarchical organization of data.

Use Case Example: Storing Student Information
Consider a scenario where you want to store information about multiple students, including their names, ages, and grades in different subjects. A nested dictionary is an ideal way to represent this data.

---
#Q17. Describe the time complexity of accessing elements in a dictionary?
The average time complexity for accessing elements in a Python dictionary is    O(1), making it a highly efficient data structure for key-value storage and retrieval. While the worst-case time complexity can be O(n) due to collisions.

---
#Q18. In what situations are lists preferred over dictionaries?
Lists are preferred over dictionaries in situations where you need to maintain order, work with homogeneous collections, access elements by index, iterate over items, dynamically manage size, slice data, or when key-value associations are not necessary. Lists provide a simple and efficient way to handle collections of data in these scenarios.

---
#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries in Python are considered unordered collections because they do not maintain the order of elements based on the sequence in which they were added. Instead, dictionaries use a hash table to store key-value pairs, which allows for efficient access and retrieval but does not guarantee any specific order of the keys.

---
#Q20. Explain the difference between a list and a dictionary in terms of data retrieval?
The key differences between lists and dictionaries in terms of data retrieval are:

* Access Method: Lists use integer indices for access, while dictionaries use unique keys.
* Order: Lists maintain the order of elements, while dictionaries are unordered (though they preserve insertion order in Python 3.7 and later).
* Use Cases: Lists are used for ordered collections, while dictionaries are used for key-value associations.

---

In [ ]:
#1.Write a code to create a string with your name and print it
my_name=input("Enter ypur name: ")
print(my_name)

Enter ypur name: gaurav
gaurav

In [ ]:
#2. Write a code to find the length of the string "Hello World"
str_langth=("Hello world")
print(len(str_langth))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
print(a[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
text="hello"
print(text.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
a=string.replace("apple","orange")
print(a)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
a=[]
for i in range(1,6):
  a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
lst=[1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst=[1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst=['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst=[10, 20, 30, 40, 50]
rev=lst[::-1]
print(rev)

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
n=(10,20,30)
print(n)

(10, 20, 30)

In [ ]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=('apple', 'banana', 'cherry')
tup[0]

'apple'

In [ ]:

#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a=(1, 2, 3, 2, 4, 2)
# a.count(2)
count=0
for num in a:
  if num==2:
    count+=1
print(count)

3

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
idn=('dog', 'cat', 'rabbit')
idn.index('cat')

1

In [ ]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
check=('apple', 'orange', 'banana')
ban="banana"
if ban in check:
  print("yes,banana is present in the tuple check")

yes,banana is present in the tuple check

In [ ]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set={1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set{1, 2, 3, 4}. .
sett={1, 2, 3, 4}
sett.add(6)
print(sett)

{1, 2, 3, 4, 6}

In [ ]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
n=(10,20,30)
print(n)

(10, 20, 30)

In [ ]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
first_element=('apple', 'banana', 'cherry')
print(first_element[0])

apple

In [ ]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
num=(1, 2, 3, 2, 4, 2)
count=0
for i in num:
  if i==2:
    count+=1
print(count)

3

In [ ]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
ind=('dog', 'cat', 'rabbit')
ind.index("cat")

1

In [ ]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup=('apple', 'orange', 'banana')
check="banana"
if check in tup:
  print("yes, banana is present in the tuple")
else:
  print("banana is not present in the tuple.")

yes, banana is present in the tuple

In [ ]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set={1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
add_to_set={1, 2, 3, 4}
add_to_set.add(6)
print(add_to_set)

{1, 2, 3, 4, 6}